.gridContainer {
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 0 auto;
}

.gridContainerImgs {
    width: 100%;
    border-radius: 10px;
}

@media (max-width: 1280px) {
    .gridContainer {
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }
}