.gridContainer {
    width: 100%;
    max-width: 1280px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    gap: 20px;
}

.gridContainerImgs {
    width: 400px;
    border-radius: 15px;
}

@media (max-width: 1300px) {
    .gridContainerImgs {
        width: 300px;
    }
}

@media (max-width: 600px) {
    .gridContainerImgs {
        width: 100%;
    }
}